@font-face {
  font-family: "Gilroy";
  src: url("../../src/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "main";
  src: url("../../src/fonts/Futura-Bold.ttf");
}


.page5 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page5LE {
  display: flex;
  min-height: auto; /* Corrected from 'wrap' */
  width: 50%;
}

.meet h1 {
  font-size: 7em;
  font-family: "main";
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #333;
  -webkit-text-stroke-width: 2px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
}

.ourteam h1 {
  font-size: 6em;
  font-family: "main";
  color: #f87171;
  text-transform: uppercase;
}

.ourteam p {
  font-size: 18px;
  color: #9e9e9e;
}

.card_container {
  position: relative;
  width: 65vmin;
  height: 80vmin;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(17, 17, 17, 0.35);
  transition: transform 0.35s ease-out;
  transform: translate(var(--x), var(--y)) scale(0.35) rotate(var(--angle));
  will-change: transform;
}

.card:hover {
  transform: scale(1) rotate(0deg);
  z-index: 1;
}

.card:hover::before {
  opacity: 1;
}

.card::before {
  content: "";
  display: block;
  width: 90%;
  height: 80%;
  margin: 5%;
  background: var(--image) center center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 5px rgba(34, 34, 34, 0.35);
  border-radius: 2px;
  filter: sepia(0.2) brightness(0.9) contrast(1.2);
  transition: opacity 0.35s ease-out;
  opacity: 0.7;
  will-change: opacity;
}

.card::after {
  display: block;
  content: var(--caption);
  font-weight: 500;
  font-size: 2rem;
  color: #070707;
  opacity: 0.75;
  text-align: center;
}

@media (max-width: 600px) {
  .page5 {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }

  .page5LE {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .meet h1 {
    font-size: 3em;
    -webkit-text-stroke-width: 2px;
    writing-mode: horizontal-tb;
  }

  .ourteam h1 {
    text-align: center;
    font-size: 3em;
    color: #f87171;
  }

  .ourteam p {
    font-size: 15px;
    text-align: center;
  }
}
